<div class="card" *ngIf="cosmetic;else button_back">
    <div class="card-header"> Edycja kosmetyku o id {{cosmetic.id}} </div>
    <div class="card-block">
      <form [formGroup]="myForm" (ngSubmit)="save()">
        <div class="form-group">
          <label for="name"> Nazwa </label>
          <input [formControl]="myForm.controls['name']" type="text" class="form-control" id="name" name="name">
          <!--<div *ngIf="name.hasError('required')" class="alert alert-danger"> Nazwa jest wymaga!</div>-->
        </div>
        <div class="form-group">
          <label for="ingredients"> Składniki </label>
          <input [formControl]="myForm.controls['ingredients']" type="text" class="form-control" id="ingredients" name="ingredients">
           <!--<div *ngIf="ingredients.hasError('required')" class="alert alert-danger"> Lista składników jest wymagana!</div>-->
        </div>
        <div class="form-group">
          <label for="producer"> Marka </label>
          <input [formControl]="myForm.controls['producer']" type="text" class="form-control" id="producer" name="producer">
          <!--<div *ngIf="producer.hasError('required')" class="alert alert-danger"> Marka jest wymaga!</div>-->
        </div>
        <div class="form-group">
          <label for="price"> Cena </label>
          <input [formControl]="myForm.controls['price']" type="number" class="form-control" id="price" name="price">
          <!--<div *ngIf="price.hasError('required')" class="alert alert-danger"> Cena jest wymaga!</div>-->
        </div>
        <div class="form-group">
          <label for="category"> Kategoria </label>
          <select class="form-control" [formControl]="myForm.controls['category']" id="category" required>
             <option *ngFor="let cat of categories" [ngValue]="cat.id"> {{cat.categoryName}} </option>
          </select>
          <!--<div *ngIf="category.hasError('required')" class="alert alert-danger"> Kategoria jest wymaga!</div>-->
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Zapisz</button>
        <button type="button" class="btn btn-secondary" (click)="goBack()">Powrót</button>
      </form>
    </div>
  </div>
  <ng-template #button_back>
    <div class="card">
      <div class="card-block">
        <button type="button" class="btn btn-secondary" (click)="goBack()">Powrót</button>
      </div>
    </div>
  </ng-template>
