  <div class="card" *ngIf="myForm">
    <div class="card-header"> Formularz dodania nowego kosmetyku </div>
    <div class="card-block">
      <form [formGroup]="myForm" (ngSubmit)="save()">
        <div class="form-group">
          <label for="name"> Nazwa </label>
          <input [formControl]="myForm.controls['name']" type="text" class="form-control" id="name" name="name">

        </div>
        <div class="form-group">
          <label for="ingredients"> Składniki </label>
          <input [formControl]="myForm.controls['ingredients']" type="text" class="form-control" id="ingredients" name="ingredients">
          
        </div>
        <div class="form-group">
          <label for="producer"> Marka </label>
          <input [formControl]="myForm.controls['producer']" type="text" class="form-control" id="producer" name="producer">

        </div>
        <div class="form-group">
          <label for="price"> Cena </label>
          <input [formControl]="myForm.controls['price']" type="number" class="form-control" id="price" name="price">
          
        </div>
        <div class="form-group">
          <label for="category"> Kategoria </label>
          <select class="form-control" [formControl]="myForm.controls['category']" id="category" required>
             <option *ngFor="let cat of categories" [ngValue]="cat.id"> {{cat.categoryName}} </option>
          </select>
         
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Zapisz</button>
        <button type="button" class="btn btn-secondary" (click)="goBack()">Powrót</button>
      </form>
    </div>
  </div>
