<!--<div class="col-md-12">-->
  <div *ngIf="message">
    <p>
      <ngb-alert [dismissible]="false">
        <strong>Uwaga!</strong> 
        {{message}}
      </ngb-alert>
    </p>
  </div>

  <div class="card">
    <div class="card-header"> Lista kategori kosmetyków </div>
    <div class="card-block">
        <table class="table table-bordered">
            <thead>
              <tr> 
                <th> Kategoria </th>
                <th> Akcje </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categoryList">
                <td> <span class="badge"> {{category.id}} </span> {{category.categoryName}} </td>
                <td>
                  <a class="btn btn-warning" [routerLink]="['/categories/details', category.id]" role="button">Edycja</a>
                  <button class="btn btn-danger" (click)="delete(category); $event.stopPropagation()">Usuń</button>
                </td>
              </tr>
            </tbody>
        </table>
        <a class="btn btn-success" (click)="showForm = true" role="button">Dodaj nową kategorię </a>

        <div [hidden]="!showForm">
          <form #categoryForm="ngForm" (ngSubmit)="addNewCategory(categoryName.value, $event)">
            <div class="form-group">
              <label for="categoryName"> Nazwa kategorii </label>
              <input #categoryName type="text" class="form-control" id="categoryName" name="categoryName" placeholder="nazwa kategorii">
            </div>
            <button type="submit" class="btn btn-primary">Dodaj</button>
          </form>
        </div>
    </div>
  </div>
</div>