<div *ngIf="cosmetic">

  <h2>{{cosmetic.name}} szczegóły</h2>
  <div><label>Identyfikator: </label>{{cosmetic.id}}</div>
  <div>
      <label> Nazwa: </label>
      <input [(ngModel)]="cosmetic.name" placeholder="name"/>
  </div>
  <div>
    <label> Składniki: </label>
    <input [(ngModel)]="cosmetic.ingredients" placeholder="składniki"/>
  </div>
   <div>
    <label> Kategoria: </label>
    <input [(ngModel)]="cosmetic.category.categoryName" placeholder="kategoria"/>
  </div>
  <button (click)="save()">Zapisz</button>
  <button (click)="goBack()">Powrót</button>
</div>