<div class="col-md-6">
  <div class="panel panel-default ">
    <div class="panel-heading"> Lista kosmetyków </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
              <tr> 
                <th> Kosmetyk</th>
                <th> Kategoria </th>
                <th> Akcje </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cosmetic of cosmeticsList" (click)="onSelect(cosmetic)" [class.selected]="cosmetic === selectedCosmetic">
                <td> <span class="badge">{{cosmetic.id}}</span> {{cosmetic.name}} </td>
                <td> {{cosmetic.category.categoryName }} </td>
                <td>
                  <a class="btn btn-info" [routerLink]="['/information', cosmetic.id]" role="button">Szczegóły</a>
                  <a class="btn btn-warning" [routerLink]="['/information', cosmetic.id]" role="button">Edycja</a>
                  <a class="btn btn-danger" [routerLink]="['/information', cosmetic.id]" role="button">Usuń</a>
                </td>
              </tr>
            </tbody>
        </table>
        <a class="btn btn-success" routerLink="/cosmetics-panel" role="button">Dodaj nowy kosmetyk </a>
    </div>
  </div>
</div>